body {
    background-color: rgb(111, 117, 85);
    
}

output{ 

    background-color: rgb(47, 185, 151);
    color: black;
    padding: 5px;
    font-kerning: var(font-kerning);
}

button{

    background-color: rgb(141, 134, 33);
}