body {
    background-color: rgb(225, 194, 235);
    
}

output{ 

    background-color: rgb(186, 140, 207);
    color: black;
    padding: 5px;
    font-kerning: var(font-kerning);
}

button{

    background-color: rgb(211, 146, 231);
    
}